---
title: PRECIP 2022 TEAM
heading: PRECIP Funding Agencies and Science Team
description:
---
<div style="text-align: center; padding: 40px 0 0 0" >
	<!-- <p><b>Funding Agencies</b></p> -->
	<h1>Funding Agency</h1>
<!--
	<p>PRECIP is funded by the US National Science Foundation. </p> -->
</div>

<ul class="staff">
		<li>
			<div class="square-image"><img src="/images/team/logo_nsf.png" alt="NSF logo"/></div>
			<div class="name"><a target="_blank" href="https://www.nsf.gov/">National Science Foundation</a></div>
		</li>

</ul>

<div style="text-align: center; padding: 40px 0 0 0" >
	<h1>US Science Team</h1>
	<p><i>in alphabetical order</i></p>
</div>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>

<section style="padding: 30px 80px;">
	<div style="text-align: center; padding: 20px 0 0 0" >
		  <h1>US and International Collaborators</h1>
	</div>

	<p>PRECIP will collaborate with US and international partners:</p>
	<ul>
		<!-- <li>NOAA Advancing the Prediction of Hurricanes Experiment West (APHEX-West)</li>
		<li>ONR Tropical Cyclone Rapid Intensification (TCRI)</li> -->
	  <li>Taiwan-area Atmospheric and Hydrological Observation and Prediction Experiment (TAHOPE)</li>
	  <li>Japanese Tropical cyclones-Pacific Asian Research Campaign for Improvement of Intensity estimations/forecasts (T-PARCII)</li>
	  <li>Korea Precipitation Observing Program (KPOP)</li>
	</ul>
</section>
