---
title: PRECIP 2022 TEAM
heading: Our Team
description:
---
<div style="text-align: center; padding: 20px 0 0 0" >
	<p><u>Principal Investigators</u></p>
</div>
<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}" alt="{{ person.name }}"/></div>
			<div class="name"><a target="_blank" href="{{ person.website }}">{{ person.name }}</a></div>
			<div class="position">{{ person.position }}</div>
		</li>
	{% endfor %}
</ul>

<section style="padding: 20px 80px;">
	<p>PRECIP is funded by the U.S National Science Foundation
	<img src="{{ site.baseurl }}/images/team/logo_nsf.png" alt="NSF logo" style="width:60px;height:60px;"/> </p>
	<ul>
	  <li style="font-size: 0.9em;">AGS-1854559, AGS-1854607, AGS-1854443, AGS-1854399, AGS-1854391, AGS-1712290.</li>
	</ul>
	<p>PRECIP will collaborate with U.S. and international partners:</p>
	<ul>
		<li>NOAA Advancing the Prediction of Hurricanes Experiment West (APHEX-West)</li>
		<li>ONR Tropical Cyclone Rapid Intensification (TCRI)</li>
	  <li>Taiwan-area Atmospheric and Hydrological Observation and Prediction Experiment (TAHOPE)</li>
	  <li>Japanese Tropical cyclones-Pacific Asian Research Campaign for Improvement of Intensity estimations/forecasts (T-PARCII)</li>
	  <li>Korea Precipitation Observing Program (KPOP)</li>
	</ul>
</section>
